.menu{
    /*max-width: 300px;*/
    width: 100%;
    background: #414956;
    color: white;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 99999;
    transition: all .5s linear;
    overflow: hidden;
}
.menu .header{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #fff;
    cursor: pointer;
}
.menu section{
    line-height: 30px;
    cursor: pointer;
    padding: 5px;
}
.menu section:hover,.menu section.active{
    background: #3B424D;
}

.menu section a, .menu section a:visited{
    color: white!important;
}
.menu section i, .menu>div i{
    margin-right: 5px;
    color: white!important;
}

#facIcon{
    display: none;
    cursor: pointer;
}
@media (max-width: 767px) {
    .menu{
        height: 50px!important;
        width: 100%!important;
        padding-top: 0;
    }
    .header{
        cursor: pointer;
    }
    .openedMenu{
        height: 270px!important;
    }
    #facIcon{
        display: block;
    }
    #setIcon{
        display: none;
    }
}