.menu{
    width: 100%;
    background: #414956;
    color: white;
    height: 100vh;
}
section{
    line-height: 30px;
    cursor: pointer;
    padding: 5px;
}
section:hover, section.active{
    background: #3B424D;
}

section a, section a:visited{
    color: white!important;
}
.menu div{
    padding: 10px 0;
    border-bottom: 1px solid #fff;

}
section i, .menu>div i{
    margin-right: 5px;
}