.menu{
    width: 100%;
    background: #414956;
    color: white;
    height: 100vh;
}
.menu .header{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #fff;
    cursor: pointer;
}
.menu section{
    line-height: 30px;
    cursor: pointer;
    padding: 5px;
}
.menu section:hover,.menu section.active{
    background: #3B424D;
}

.menu section a, .menu section a:visited{
    color: white!important;
}
.menu section i, .menu>div i{
    margin-right: 5px;
    color: white!important;
}
@media (max-width: 575px) {
    .menu{
        height: 260px;
        width: 100%;
    }
}