.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
}
.navbar-brand img{
    width: 80px;
    height: auto;
}
.mrg_top{
    margin-top: 130px;
}
.card-body>ul{
    list-style: circle;
}

.card-body>ul>li:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #0056b3;
}
.btn-left{
    text-align: left!important;
}
.table td, .table th{
    vertical-align: middle!important;
}
.more{
    padding: 5px;
}

/*   Modal   */

.swal2-container{
    z-index: 9999999!important;
}

#searchFields{
    max-width: 100%

}
#nameAuthor{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
#nameAuthor>div{
    display: flex;
    flex-direction: column;
}
#dateSelect{
    width: 100%;
    margin: 10px 0;
}
#dateSelect>select, #subjectSel{
    width: 100%;
}
@media(max-width: 471px){
    #nameAuthor>div{
        width: 100%;
    }
    .btn-myInfo{
        width: 100%;
    }
}